.Wrapper {
    margin-top: 15px;
}
.DialoguesHeader {
    height: 20px;
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DialoguesHeader__count {
    margin: 0;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 500;
    background-color: #616F82;
    color: white;
}
.DialoguesHeader__select {
    font-size: 14px;
    font-weight: 400;
    color: #616F82;
    cursor: pointer;
}
.DialoguesCheckboxLabel {
    margin-right: 10px;
    color:#616F82;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}
.DialoguesSelect {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 0 10px;
}
.DialoguesHeaderSelect {
    display: flex;
}
.DialoguesActions {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 0 10px;
}
.DialoguesAction {
    color: #616F82;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}