.Wrapper {
    padding: 10px;
}
.Video {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    filter: drop-shadow(0px 0px 4px rgba(47, 47, 47, 0.07));
}
.VideoPreview {
    margin-right: 10px;
    width: 82px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 2px;
}

.VideoTitle {
    // width: 473px;
    width: 463px;
    // Я написал Вашему hr, что макет немного ~корявый, если брать pf то ширина 473px, но ux важнее поэтому 463px

    margin: 0 0 17px 0;
    color: #161718;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
}
.VideoTime {
    margin: 0;
    font-family: system-ui;
    color:#616F82;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    white-space: pre;
}
.VideoContent {
    display: flex;
}
.VideoDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.VideoPreviewFirst {
    background-image: url(https://i.ibb.co/WywXcS9/Rectangle.png);
}

.VideoPreviewSecond {
    background-image: url(https://i.ibb.co/Mnb2RY8/Rectangle-1.png);
}

.VideoPreviewThird {
    background-image: url(https://i.ibb.co/yFpTXGc/Rectangle-2.png);
}